{% extends 'base.html' %}
{% load static %}
{% block main %}
<body class="flex-column pb-0 pt-0">
<img src="{% static 'img/base.png' %}" class="base">
<div class="container">
    <h4 class="text-center pt-4 pb-4">Add a new card</h4>
    <div id="card" class="mb-5">
        <div class="d-flex align-items-end pt-2 pb-2 pl-3 pr-3 mb-3">
            <span class="w-50 d-flex flex-column">
                <span class="mr-auto title">Available Balance</span>
                <h6 id="balance">$ 0</h6>
            </span>
            <img src="{% static 'img/type.png' %}" alt="" class="mb-auto">
        </div>
        <div id="card-details">
            <h4 id="card-number" class="text-center mb-3">xxxx xxxx xxxx xxxx</h4>
            <svg id="bank-icon" t="1606830006014" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="792" width="200" height="200"><path d="M258.56 765.42976h506.88l-253.4144-253.43488L258.56 765.42976zM258.56 258.56h506.88l-253.41952 253.43488L258.56 258.56zM258.56 258.56v506.88L5.12 512.02048 258.56 258.56zM765.44 258.56v506.88l253.44-253.41952L765.44 258.56z" fill="#E50012" p-id="793"></path></svg>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center">
            <h5 id="name">Your Name</h5>
            <div class="d-flex flex-column">
                <span class="title">Expiry</span>
                <span id="date">xx / xx</span>
            </div>
        </div>
    </div>
    <div id="card-input" class="form-signin">
        <div class="form-label-group">
            <span class="pl-2">Card Holder's Name</span>
            <input type="text" class="form-control pt-0" id="input-name" required autofocus>
        </div>
        <div class="form-label-group">
            <span class="pl-2">Card's Number</span>
            <input type="number" class="form-control pt-0" id="input-card-number" required>
        </div>
        <div class="form-label-group">
            <span class="pl-2">Expiry Date</span>
            <input type="month" class="form-control pt-0" id="input-date" required>
        </div>
        <a href="" class="btn btn-lg btn-block signin-btn mt-4 acc-btn">
            Add New Card
        </a>
    </div>
</div>

<ul class="nav nav-pills w-100 justify-content-around mt-auto">
        <li class="nav-item">
            <a class="nav-link d-flex flex-column align-items-center" href="{% url 'main' %}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <span class="nav-text">
                    Home
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex active flex-column align-items-center" href="{% url 'accounts' %}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wallet-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z"/>
                </svg>
                <span class="nav-text">
                    Accounts
                </span>
            </a>
        </li>  
        <li class="nav-item">
            <a class="nav-link d-flex flex-column align-items-center" href="#">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                    <circle cx="3.5" cy="5.5" r=".5"/>
                    <circle cx="3.5" cy="8" r=".5"/>
                    <circle cx="3.5" cy="10.5" r=".5"/>
                </svg> 
                <span class="nav-text">
                    Statement
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex flex-column align-items-center" href="{% url 'analysis' %}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-data" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                </svg>
                <span class="nav-text">
                    Analysis
                </span>
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link d-flex flex-column align-items-center" href="#">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                  </svg>
                <span class="nav-text">
                    Profile
                </span>
            </a>
        </li>
</ul>        

</body>

<style>
a:hover{
	background: white;
	color: black !important;
}
#card{
    width: 95%;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}
#card-details{
    display: flex;
    justify-content: space-evenly;
}
.title{
    color:dimgrey;
}
.icon{
    height: 2rem;
    width: 2rem;
}
#bank-icon{
    visibility: hidden;
}
#card-input{
    width: 95%;
}

input{
    border-radius: 12px !important;
}

.signin-btn{
background: #000000;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 14px;
color: white !important;
}

</style>

<script>
$(document).ready(function () {
    $('#input-name').on('change',function(){
        var name = $('#input-name').val();
        if(name == ""){
            name = "Your Name"; 
        }
        $('#name').text(name);
    })
    $('#input-card-number').on('change',function(){
        var num = $("input[type='number']").val();
        if(num == ""){
            num = "Your Name"; 
        }
        $('#card-number').text(num);
        $('#bank-icon').css('visibility', 'visible');
        $('#balance').text('$ 50,000');
    })
    $('#input-date').on('change',function(){
        var date = $("input[type='month']").val();
        date = date.split('-');
        var year = date[0].substring(2);
        var month = date[1];
        $('#date').text(month + ' / ' + year);
    })
});
</script>
{% endblock main %}